header{
    background: url('pictures/shapka.jpg') bottom center no-repeat;
    height: auto;
    background-color: rgb(0, 0, 0);
    background-size: auto;
    max-width: 1400px;
    width: 100%;
    height: auto;
    color: rgb(255, 255, 255);
    align-self: center;
    text-align: center;
    margin-top: 0;
}
main{
    font-family: 'Franklin Gothic Medium';
    background-color: rgb(233, 233, 233);
    height: auto;
    size: auto;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: auto;
    align-self: center;
    display: flex;
    flex-direction: column;
}
footer{
    height: auto;
    max-width: 1400px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    padding-bottom: 20px;
    margin-top: 0px;
    align-self: center;
}
.wrapper {
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
.header-Topic {
    font-family: 'Franklin Gothic Medium';
    padding: 30px 20px 0px 20px;
    text-align: center;
}
.header-subTopic {
    font-family: 'Noto Sans';
    font-size: medium;
    color: rgb(225, 225, 255);
    padding: 0px 20px 30px 20px;
    text-align: center;
}
.horizontal-menu {
    box-sizing: border-box;
    text-align: center;
    background-color: #dbdbdb;
}
.ul-horizontal-menu{
    margin: auto;
}
.horizontal-menu-item{
    display: inline-block;
    padding: 10px 20px;
}
.link-active{
    font-family: 'Noto Sans';
    text-align: center;
    color: rgb(0, 0, 0);
    text-decoration: underline;
}
.content{
    display:flex;
    flex-direction: row;
    padding: 20px;
    flex-wrap: wrap;
}
.secondmenu {
    height: fit-content;
    max-width: 200px;
    float: right;
    flex: auto;
    background-color: #dbdbdb;
    box-sizing: content-box;
}
.atuin-btn {
    display: inline-flex;
    position: relative;
    line-height: 17px;
    padding: 7px 8px 7px 7px;
    margin-right: 10px;
    color: #FFF;
    font-family: 'Franklin Gothic Medium';
    background: #9795a0; 
    border: 1px solid #a3a3a3;
}
.header-main-text{
    text-align: center;
    font-family: 'Franklin Gothic Medium';
}
.main-text{
    display: flex;
    flex-direction: column;
    float: left;
    flex: 1;
    box-sizing: border-box;
}
.header-future-prof{
    font-family: 'Franklin Gothic Medium';
}
.future_prof{
    text-align: center;
    width: auto;
    box-sizing: border-box;
    padding-bottom: 5px;
}
.future_prof_items{
    column-count: 3;
}
.adress-contacts {
    text-align: center;
}
.footer-contacts {
    display: block;
    color: rgb(150, 150, 150);
}
.picture {
    border: 1px solid rgb(0, 0, 0);
    width: 230px;
    height: 150px;
    margin-right: 10px;
    margin-bottom: 5px;
    float: left;
}
.main-text-present {
    font-weight: bold;
}
.table-header{
    align-self: center;
    font-weight: bold;
}
.p-contacts{
    font-weight: bold;
}