.atuin-btn {
    display: inline-flex;
    position: relative;
    line-height: 10px;
    padding: 7px 8px;
    color: #FFF;
    text-transform: uppercase; 
    font-family: 'Franklin Gothic Medium';
    background: #337AB7;
    cursor: pointer; 
    border: 1px solid #BFE2FF;
    overflow: hidden;
    z-index: 1;
}
.atuin-btn:hover,
.atuin-btn:active,
.atuin-btn:focus {
    color: #FFF;
}
.atuin-btn:before {
    content: '';
    position: absolute;
    top: 0;
    right: -50px;
    bottom: 0;
    left: 0;
    border-right: 50px solid transparent;
    border-top: 50px solid #2D6B9F;
    transition: transform 0.5s;
    transform: translateX(-100%);
    z-index: -1;
}
.atuin-btn:hover:before,
.atuin-btn:active:before,
.atuin-btn:focus:before {
    transform: translateX(0);
}